table {
  thead {
    tr {
      td {
        background-color: map-get($colors, brand-black);
        color: map-get($colors, brand-white);
        height: 6rem;
      }

      .name-cell {
        .arrow {
          font-size: 2rem;
          cursor: pointer;

          &--up {
            margin-left: 1rem;
          }

          &--down {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
